{% extends 'bar/base.html' %}
{% block title %}Desayunos y Meriendas{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">🥐☕ Desayunos y Meriendas</h2>
    
    <style>
    .btn-outline-gold {
        border-color: #6c757d;
        color: #383838ff;
        transition: all 0.6s ease;
    }

    .btn-outline-gold:hover {
        background-color: #887400ff; 
        border-color: #887400ff;
        color: white;
    }
    </style>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group shadow">

                <li class="list-group-item d-flex justify-content-between">
                    <span>Café con leche + 2 medialunas</span>
                    <span>$2.200</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Tostadas con mermelada y manteca + infusión</span>
                    <span>$2.000</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Jugo de naranja natural</span>
                    <span>$1.500</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Medialuna con jamón y queso</span>
                    <span>$1.600</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Budín de limón o marmolado (porción)</span>
                    <span>$1.400</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Submarino (leche + barra de chocolate)</span>
                    <span>$2.300</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Tostado clásico (jamón y queso)</span>
                    <span>$2.400</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Infusión (café, té, mate cocido)</span>
                    <span>$1.200</span>
                </li>

            </ul>

            <div class="text-center mt-4">
                <a href="{% url 'carta' %}" class="btn btn-outline-gold">← Volver a la carta</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
